<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/header :: head}"></div>
</head>
<body>
<div class="main-container">
    <div class="modern-table-container">
        <h2>Liste des utilisateurs</h2>
        <div class="table-responsive">
            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px;">
                <a th:attr="data-url=@{/user/}"
                   th:onclick="|window.location.href=this.getAttribute('data-url')|" onclick="event.stopPropagation()"
                   style="cursor: pointer; text-decoration: none;" class="btn btn-primary">+ Create User</a>
            </div>
            <table class="modern-table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(listUsers)}">
                    <td colspan="4" class="empty-state">Aucun utilisateur en base de données
                    </td>
                </tr>
                <tr th:each="user: ${listUsers}"     th:attr="data-url=@{/user/{id}(id=${user.idUser})}"
                    th:onclick="|window.location.href=this.getAttribute('data-url')|" onclick="event.stopPropagation()"
                    style="cursor: pointer;">
                    <td><span th:text="${user.idUser}">Id</span></td>
                    <td><span th:text="${user.firstname}">Prénom</span></td>
                    <td><span th:text="${user.lastname}">Nom</span></td>
                    <td><span th:text="${user.email}">email@example.com</span></td>
                    <td>
                         <div class="action-buttons" >
                             <form th:action="@{/deleteuser/{id}(id=${user.idUser})}"
                                   method="post"
                                   style="display: inline;"
                                   onclick="event.stopPropagation()">
                                 <button type="submit" class="btn-modern btn-delete"
                                         onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')">
                                     Supprimer</button>
                             </form>
                         </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer }"></div>
</body>
</html>